{% extends "layout.html" %}
{% block content %}
	<form action="{{ url_for('add_todo') }}" method='post' class='add-todo'>
		<dl>
			<dd><input type='text' size='30' name='todo_text' class="todo-text"></dd>
			<dd><input type='radio' name='priority' value="High"> High</dd>
			<dd><input type='radio' name='priority' value="Low"> Low</dd>
			<dd><input type='submit' value='Submit' id="submit_todo"></dd>
		</dl>
	</form>
	<ul class='todos'>
  {% for todo in todos %}
    <li>
    {% if not todo.completed %}

     <form action="/mark_completed/{{ todo.id }}">
        <dd><input type='submit' value='Mark as Completed' />{{ todo.todo_text }}</dd>
      </form>

    {% else %}
      <strike>
      <form action="/mark_uncompleted/{{ todo.id }}">
        <dd><input type='submit' value='Mark as Uncompleted' />{{ todo.todo_text }}</dd>
      </form>
      </strike>
    {% endif %}

    </li>
  {% endfor %}
      </ul>

{% endblock %}


      