{% extends "layout.html" %}
{% block content %}
	<form action="{{ url_for('add_todo') }}" method='post' class='add-todo'>
		<dl>
			<dt>Todo Text:</dt>
			<dd><input type='text' size='30' name='todo_text'></dd>
			<dt>Priority:</dt>
			<dd><input type='radio' name='priority' value="High"> High</dd>
			<dd><input type='radio' name='priority' value="Low"> Low</dd>
			<dd><input type='submit' value='Submit'></dd>
		</dl>
	</form>
	<ul class='todos'>
  	{% for todo in todos %}
   	 	<li>
      {% if todo.completed %}
        <strike>
      {% endif %}
      {{ todo.todo_text }} <a href="/mark_completed/{{ todo.id }}">Mark as completed</a>
      {% if todo.completed %}
        </strike>
      {% endif %}
      </li>
  {% else %}
  		<li>No todos yet!</li>
  {% endfor %}
  </ul>
{% endblock %}
