<!doctype html>
<html lang="en">

	<meta charset="UTF-8">
	<title><em><b>Todos App</b></em></title>
	 	<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='style.css') }}" />
	 	<script type='application/javascript' src='{{ url_for("static", filename="jquery.js") }}'></script>
	 	<script type='application/javascript' src='{{ url_for("static", filename="update_todos.js") }}'></script>
	<body>
		<h1>Todos App</h1>

		{% for message in get_flashed_messages() %}
			{{ message }}
		{% endfor %}
	{% block content %}
	{% endblock %}

	</body>

	</div>
</html>

